@{
    ViewData["Title"] = "Home Page";
}

<div class="display-flex text-center img-view" style="background-image: url(https://img.freepik.com/premium-photo/white-grey-marble-texture-background-natural-pattern-with-high-resolution-tiles-luxury-stone-floor-seamless-glitter-interior-exterior_38607-418.jpg)">
    <p><br></p>
    <p></p>
   <h4 class="display-5"><b>Pizzeria San Giovanni vi augura un caloroso benvenuto!</b></h4>
    <p><br></p>
    <p><br></p>
    <p></p>
    <p> </p>
    <p>La vera pizza è alimento, simbolo e rito.</p>
    <p>Alimento povero e nobile.</p>
    <p>Disco festoso di pasta, colorato di rosso.</p>
    <p>Ma è anche qualcosa di più di un impasto di acqua e farina,</p>
    <p>condito con olio e pomodoro e cotto al forno a legna.</p>
    <p>Nasce povera.</p>
    <p>La pizza si fa non si cucina.</p>
    <p> Si fa con le mani e con la sola abilità delle palme.</p>
    <p>(Gaetano Alfetra)</p>
  </p>
  <p></p>
  <p></p>
</div>
